body {
  background-color: #7d889e;
  margin: 0;
  font-family: IRANYekan;
  direction: rtl;
}
@font-face {
  font-family: IRANYekan;
  font-style: Regular;
  font-weight: 400;
  src: url("/assets/fonts/woff/IRANYekanX-Regular.woff") format("woff");
}
@font-face {
  font-family: IRANYekan;
  font-style: Bold;
  font-weight: 900;
  src: url("/assets/fonts/woff/IRANYekanX-Bold.woff") format("woff");
}

.main-card {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-bg-main-card {
  background-color: white;
  width: 300px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 16px;
  /* padding: 16px 16px 0 16px; */
  padding: 16px;
  box-shadow: 0px 4px 24px 0px #0000008a;
}

.qr-code-image {
  width: 100%;
  border-radius: 16px;
}

.text-box {
  align-content: center;
  justify-content: center;
  height: 100%;
}

.card-title > P {
  text-align: center;
  font-weight: 900;
  line-height: 1.5;
}

.card-description > p {
  font-weight: 300;
  color: rgb(101, 101, 101);
  text-align: center;
  margin: 0;
}
